<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Chessy</string>
    <key>CFBundleDisplayName</key>
    <string>Chessy</string>
    <key>CFBundleIdentifier</key>
    <string>dev.chessy.Chessy</string>
    <key>CFBundleVersion</key>
    <string>APP_VERSION</string>
    <key>CFBundleShortVersionString</key>
    <string>APP_VERSION</string>
    <key>CFBundleExecutable</key>
    <string>chessy</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
